<!-- About Consult CTA -->
<div class="container-fluid p-5 subCTA">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-xl-7 col-lg-10 col-sm-12 text-center">
      <p class="lead"><%= aboutContent.ctaLead %></p>
          <a href="#" class="btn btn-new btn-lg mt-3" aria-label="#"><%= aboutContent.ctaButton %></a>
    </div>
  </div>
</div>