<div class="container-fluid about-cta">
  <div class="row d-flex align-items-center">
    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 p-0">
      <img src="/img/pjux-approach.jpg" alt="Spectre of Death" class="img-fluid">
    </div>
    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 p-3 p-sm-5">
      <h2><%= approachCTAContent.calloutHeading %></h2>
      <p><%= approachCTAContent.calloutBlurb %></p>
      <div class="mt-4">
      <a href="/about" class="btn btn-new"><%= approachCTAContent.calloutBtn %></a>
      </div>
    </div>
  </div>
</div>