<!-- Clients Section -->
  <div class="container-fluid p-5 clients offwhite-section">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-9 col-lg-12 col-sm-12 text-center">
        <h2 class="display-6">Some of our clients</h2>
        <p class="lead">We are proud to work with values-aligned clients such as:</p>
        <div class="row row-cols-2 row-cols-md-4 g-4 justify-content-center align-items-center">
          <div class="col">
            <img src="img/logo-tclp.png" alt="The Chisholm Legacy Project" class="img-fluid client-logo">
          </div>
          <div class="col">
            <img src="img/logo-jtli.png" alt="Just Transition Lawyering Institute" class="img-fluid client-logo">
          </div>
          <div class="col">
            <img src="img/logo-slomo.png" alt="Slo Mo ATL" class="img-fluid client-logo">
          </div>
          <div class="col">
            <img src="img/logo-uts.png" alt="Upset the Setup" class="img-fluid client-logo">
          </div>
          <div class="col">
            <img src="img/logo-ltmw.png" alt="Less Talk More Walk" class="img-fluid client-logo">
          </div>
          <div class="col">
            <img src="img/logo-bmra.png" alt="Baltimore Read Aloud" class="img-fluid client-logo">
          </div>
          <div class="col">
            <img src="img/logo-kwsc.png" alt="Kidd Wellness Solutions and Consulting" class="img-fluid client-logo">
          </div>
          <div class="col">
            <img src="img/logo-artbloc.png" alt="ArtBloc DC" class="img-fluid client-logo">
          </div>
        </div>
      </div>
    </div>
  </div>