<div class="container-fluid services-section offwhite-section" id="digital-strategy">
  <div class="row d-flex align-items-start align-items-xl-top justify-content-center p-3 p-lg-5">
    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 p-0 p-lg-3 order-2 order-lg-1">
      <h2 class="display-6 pt-3">The PJUX Approach</h2>
      <p class="lead">We spark creativity through a human-centered design process to quickly deliver innovative
        solutions. Let's unlock radical possibilities and think big.</p>
      <ul class="service-detail-list">
        <li>Reduce cost</li>
        <li>Quickly get to market</li>
        <li>Make informed design decisions</li>
        <li>Boost conversion rates</li>
        <li>Increase ROI</li>
      </ul>
      <a href="/contact" class="btn btn-new btn-lg" aria-label="Book a consultation">
        <i class="fas fa-calendar-check me-2"></i>
        Get Started
      </a>

    </div>
    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 p-0 p-lg-4 order-1 order-lg-2">
      <img src="/img/pjux-approach.jpg" alt="Digital strategy planning" class="service-image img-fluid">
    </div>
  </div>
</div>