<div class="containter-fluid bg-green p-5">
    <div class="row d-flex justify-content-center mixcloud">
        <div class="col-md-6 text-center">
            <h2 class="display-4 text-white pb-3"><%= mixcloudContent.heading %></h1>
            <p class="lead text-white"><%- mixcloudContent.subheading %></p>
                <iframe width="100%" height="120" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2Fdjmezkla%2Flas-muertes-mas-bellas-del-mundo-ost-mix%2F" frameborder="0" ></iframe>
        </div>
    </div>
</div>