<div class="container-fluid services-section" id="digital-strategy">
  <div class="row d-flex align-items-start align-items-xl-center justify-content-center p-3 p-lg-5">
    <div class="col-xl-5 col-lg-7 col-md-12 col-sm-12 p-0 p-lg-4 order-2 order-lg-1">
      <h2 class="display-6 pt-3">Digital Strategy</h2>
      <p class="lead">Let's chart a course for your digital transformation and drive tangible results and growth.</p>
      <ul class="service-detail-list">
        <li>Branding & Identity</li>
        <li>Content Strategy & Creation</li>
        <li>Search Engine Optimization (SEO)</li>
        <li>Pay-Per-Click (PPC) Advertising</li>
        <li>Social Media</li>
        <li>Analytics & Performance Tracking</li>
      </ul>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 p-0 p-lg-4 order-1 order-lg-2">
      <img src="/img/pjux-strategy.jpg" alt="Digital strategy planning" class="service-image img-fluid">
    </div>
  </div>
</div>