<div class="container-fluid services-section p-5" id="web-development">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-xl-5 col-lg-8 col-md-12 col-sm-12 p-5 order-2 order-lg-1">
      <h2 class="display-6">Website & App Development</h2>
      <p class="lead">To help our customers succeed, we offer a range of technology solutions:</p>
      <ul class="service-detail-list">
        <li>Custom Solutions</li>
        <li>E-Commerce</li>
        <li>WordPress & Drupal Content Management Systems</li>
        <li>Learning Management Systems</li>
        <li>SharePoint and Power Automate</li>
        <li>Managed Services & Support</li>
      </ul>
    </div>
    <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12 p-2 order-1 order-lg-2">
      <img src="/img/pjux-code.jpg" alt="Website & App Development" class="service-image img-fluid">
    </div>
  </div>
</div>