<div class="container-fluid services-section offwhite-section" id="ux-design">
  <div class="row d-flex align-items-center justify-content-center p-5">
    <div class="col-xl-5 col-lg-8 col-md-12 col-sm-12 p-5 order-1 order-md-2">
      <h2 class="display-6">UX/UI Design</h2>
      <p class="lead">We put the user first and quickly prototype solutions to meet their needs. This shapes our design
        decisions to create delightful experiences.</p>
      <ul class="service-detail-list">
        <li>Wireframes & Prototypes</li>
        <li>User Testing & Research</li>
        <li>Information Architecture</li>
        <li>Interaction Design</li>
        <li>Visual Design</li>
      </ul>
    </div>
    <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12 p-2 order-2 order-md-1">
      <img src="/img/pjux-uxui.jpg" alt="UX/UI design" class="service-image img-fluid">
    </div>
  </div>
</div>