<div class="container-fluid services-section" id="web-development">
  <div class="row d-flex align-items-start align-items-xl-center justify-content-center p-3 p-lg-5">
    <div class="col-xl-5 col-lg-7 col-md-12 col-sm-12 p-0 p-lg-4 order-2 order-lg-1">
      <h2 class="display-6 pt-3">Website & App Development</h2>
      <p class="lead">We have expertise in delivering enterprise-level technology solutions for clients like you.</p>
      <ul class="service-detail-list">
        <li>Custom Web Applications</li>
        <li>E-commerce Storefronts</li>
        <li>WordPress & Drupal Content Management Systems</li>
        <li>Learning Management Systems</li>
        <li>Microsoft SharePoint and Power Automate</li>
      </ul>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 p-0 p-lg-4 order-1 order-lg-2">
      <img src="/img/pjux-code.jpg" alt="Website & App Development" class="service-image img-fluid">
    </div>
  </div>
</div>