<div class="container-fluid testimonials p-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="mb-2">Testimonials</h2>
            <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% testimonials.forEach((testimonial, index) => { %>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                        <div class="row d-flex justify-content-center text-center">
                            <div class="col-md-10">
                                <div class="testimonial">
                                    <p class="quote">&ldquo;<%= testimonial.quote %>&rdquo;</p>
                                    <p class="author">&mdash; <%= testimonial.author %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </div>
    </div>
</div>