<!-- Values Section -->
<div class="container-fluid values-section">
    <div class="row d-flex align-items-center">
        <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12 p-0">
            <img src="<%= aboutContent.valuesImage.src %>" alt="<%= aboutContent.valuesImage.alt %>" class="img-fluid">
        </div>
        <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12 p-3 p-sm-5">
            <h2 class="display-6"><%- aboutContent.valuesTitle %></h2>
            <ul class="values-list">
                <% aboutContent.valuesList.forEach(value => { %>
                <li><%= value %></li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>