<div class="container-fluid">
  <div class="row d-flex align-items-start align-items-xl-center justify-content-center p-3 p-lg-5">
    <div class="col-xl-5 col-lg-7 col-md-12 col-sm-12 p-0 p-lg-3 order-1 order-lg-2">
      <span class="featured-badge">Featured Project</span>
      <h2 class="display-6 pt-1">WorkersRights.org</h2>
      <p class="lead">We welped the Workers Rights Consortium modernize their website and solve critical issues with
        their WordPress operations.</p>
      <ul class="service-detail-list">
        <li>Migrated content going back decades from old site</li>
        <li>Developed new streamlined information architecture</li>
        <li>Established secure donation tool for online giving</li>
        <li>Streamlined management for in-house team</li>
      </ul>
      <a href="https://www.workersrights.org" class="btn btn-new btn-lg" target="_blank" rel="noopener">
        <i class="fas fa-external-link-alt me-2"></i>
        Visit WorkersRights.org
      </a>
      <a href="/work" class="btn btn-primary btn-lg" aria-label="Our portfolio">
        <i class="fas fa-arrow-circle-right me-2"></i>
        Our Portfolio
      </a>

    </div>
    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 p-3 p-lg-4 order-2 order-lg-1">
      <img src="/img/portfolio-wrc.jpg" alt="Digital strategy planning" class="portfolio-image img-fluid">
    </div>
  </div>
</div>