<!-- Work Subpage Lead Section -->
<div class="container-fluid sub-lead">
  <div class="row justify-content-center align-items-center">
    <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 p-0">
      <img src="/img/pjux-services.jpg" class="img-fluid sub-lead-hero services-lead"
        alt="A photograph of a woman using a laptop">
    </div>
    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 p-4">
      <h1>
        Our work
      </h1>
      <p>
        A selection of projects showcasing our expertise in web design, development, and digital strategy.
      </p>
    </div>
  </div>
</div>